*.cm[iox]
*.o
*.annot
*.vo
*.glob
.config_var
.depend
*.dko
*.bin
*.byt
zenon_modulo
*.output
parsecoq.ml
parsecoq.mli
parsetptp.ml
parsetptp.mli
parsezen.ml
parsezen.mli
parsedk.ml
parsedk.mli
lexcoq.ml
lextptp.ml
lexsmtlib.ml
lexzen.ml
lexdk.ml
checksum.ml
config.ml
.svn
